<!DOCTYPE html>
<html>
  <head>
    <title>HandWr classification with DL</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- container -->
    <p id="load"></p>
    <div class="container">
      <canvas id="myCanvas" width="300" height="350"></canvas>
      <div class="chart-container">
        <canvas id="chart_box" width="400" height="400"></canvas>
      </div>
      
    </div>
    <hr />
    <div>
      Line width :
      <select id="selWidth">
        <option value="9" >9</option>
        <option value="11" selected="selected">11</option>
        <option value="13">13</option>
        <option value="15">15</option>
        <option value="17">17</option>
        <option value="19">19</option>
      </select>
      Color :
      <select id="selColor">
        <option value="yellow">yellow</option>
        <option value="blue">blue</option>
        <option value="red">red</option>
        <option value="green">green</option>
        <option value="white" selected="selected">white</option>
        <option value="gray">gray</option>
      </select>
    </div>
    <br />
    <button id="submit">Submit</button>
  
    <button onclick="javascript:clearArea();return false;">Clear Area</button>

    <!-- <button class="information">
      Infomation
    </button> -->
    <div class="button_cont information" align="center"><p class="example_f"><span>Infomation</p></div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Made by: Đặng Quốc Tiến</h2>
        </div>
        <div class="modal-body">
            <ul style="text-align: left; ">
              <li>Hand Writing Classification using CNN with Keras, Tensorflowjs, nodejs. </li>
              <li>Train data: mnist.  </li>
              <li>Result is pretty good! </li>
            </ul>
        </div>
        <div class="modal-footer">
          <h3>
            Source code: <a href="https://gitlab.com/17521121/handwritingclassification" target="_blank"><code>Here!</code></a>
          </h3>
        </div>
      </div>
    </div>

    <!-- end container -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/javascripts/paint.js"></script>
    <script>
      InitThis();

      //------------------------------
      // Chart to display predictions
      //------------------------------
      var chart = "";
      var firstTime = 0;
      var chart_box = document.getElementById("chart_box");

      function loadChart(label, data) {
        let ctx = chart_box.getContext("2d");

        chart = new Chart(ctx, {
          // The type of chart we want to create
          type: "bar",

          // The data for our dataset
          data: {
            labels: label,
            datasets: [
              {
                label: "prediction",
                backgroundColor: "#f50057",
                borderColor: "rgb(255, 99, 132)",
                data: data
              }
            ]
          },

          // Configuration options go here
          options: {}
        });
      }

      function displayChart(data) {
       
        label = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
        if (firstTime == 0) {
          loadChart(label, data);
          firstTime = 1;
        } else {
          chart.destroy();
          loadChart(label, data);
        }
      }
     
      function crop_top_bottom(flat_color, width, height) {
        let result = [];
        let itRow = 0;

        let it = 0;
        while (itRow < height) {
          let = row = [];
          let itCol = 0;
          while (itCol < width) {
            if (flat_color[it] + flat_color[it + 1] + flat_color[it + 2] + flat_color[it + 3] > 0) {
              row.push([255,255,255]);
            } else {
              row.push([0,0,0]);
            }
            it += 4;
            itCol += 1;
          }
          for(let i in row) {
            if (row[i][0]) {
              result.push(row);
              break;
            }
          }

          itRow += 1;
        }
        return result;
      }

      function crop_left_right(pixel) {
        let width = pixel[0].length
        let crop_right = 0;
        let crop_left = 0;
        let height = pixel.length;

        //Crop left
        let condition = 0;
        while (width--) {
          let i = height;
          while (i--) {
            if (pixel[i][crop_left][0] != 0) {
              condition = 1;
              break;
            }
          }

          if (condition) {
            break;
          } else {
            crop_left +=1;
          }
        }

        i = height
        if(crop_left) {
          while (i--) {
            pixel[i].splice(0, crop_left);
          }
        }

        //end crop left

        //Crop right
        condition = 0;
        while (width--) {
          let i = height;
          while (i--) {
            if (pixel[i][width][0] != 0) {
              condition = 1;
              break;
            }
          }

          if (condition) {
            break;
          } else {
            crop_right +=1;
          }
        }

        i = height
        if(crop_right) {
          while (i--) {
            pixel[i].splice(-1 - crop_right, crop_right);
          }
        }

        return pixel;
      }

      var canvas = document.getElementById("myCanvas");
      var submit = document.getElementById("submit");
      var load = document.getElementById("load");

      var model;
   
      (async function loadModel() {
        load.className = "alert alert-warning";
        load.innerHTML = "Please wait for loading model!";
        submit.disabled = true;
        model = await tf.loadLayersModel("/result/model.json");
        console.log("load finished");
        load.className = "alert alert-success";
        load.innerHTML = "Load finish, use model to guess hand writing number";
        submit.disabled = false;
      })();

      submit.onclick = async function() {
        let result;
       
        //preprocess image

        let input_width = canvas.width;
        let input_height = canvas.height;

        let raw = canvas.getContext("2d").getImageData(0, 0, input_width, input_height).data;
        let img_crop_top_bottom = await crop_top_bottom(raw, input_width, input_height);
        let crop_full = await crop_left_right(img_crop_top_bottom);
      
        let width = crop_full[0].length
        let height = crop_full.length
        let newImg = await tf
                    .tensor(crop_full, [height, width,3])
                    .resizeNearestNeighbor([28, 28])
                    .mean(2)
                    .expandDims(2)
                    .expandDims()
                    .toFloat()
                    .div(255.0)
        //end preprocess
        result = await model.predict(newImg).data();
        await displayChart(result, chart_box);
      };
      // information
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementsByClassName("information")[0];

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      };

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      };

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>
  </body>
</html>
